*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  background-color: #0b2434;
}

.app {
  width: 550px;
  height: 580px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-inside {
  width: 500px;
  height: 500px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  gap: 30px;
  position: relative;
}

.header {
  color: #2b283a;
  font-size: 40px;
  font-weight: 700;
  position: relative;
}

.paragraph {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #4a4e74;
}

.die-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  gap: 20px;
}

.die-square {
  height: 64px;
  width: 64px;
  border-radius: 4px;
  background-color: #fff;
  color: #2b283a;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 21px;
  cursor: pointer;
}

.roll-button {
  background-color: #5035ff;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-family: inherit;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transition: all 0.1s;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.15);
}

.roll-button:focus {
  outline: none;
}

.roll-button:active {
  transform: scale(0.97);
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.timer {
  position: absolute;
  top: 100px;
}

.total-rolls {
  position: absolute;
  bottom: 10px;
}

.best-time {
  position: absolute;
  top: 20px;
  right: 50px;
}

.best-time span {
  text-decoration: underline;
}

.dice--1 {
  background: radial-gradient(
    circle at 50% 50%,
    #000000 4px,
    rgba(255, 255, 255, 0) 5px
  );
}
.dice--2 {
  background: radial-gradient(
      circle at 25% 25%,
      #000000 4px,
      rgba(255, 255, 255, 0) 5px
    ),
    radial-gradient(circle at 75% 75%, #000000 4px, rgba(255, 255, 255, 0) 5px);
}
.dice--3 {
  background: radial-gradient(
      circle at 75% 25%,
      #000000 4px,
      rgba(255, 255, 255, 0) 5px
    ),
    radial-gradient(circle at 50% 50%, #000000 4px, rgba(255, 255, 255, 0) 5px),
    radial-gradient(circle at 25% 75%, #000000 4px, rgba(255, 255, 255, 0) 5px);
}
.dice--4 {
  background: radial-gradient(
      circle at 25% 25%,
      #000000 4px,
      rgba(255, 255, 255, 0) 5px
    ),
    radial-gradient(circle at 25% 75%, #000000 4px, rgba(255, 255, 255, 0) 5px),
    radial-gradient(circle at 75% 25%, #000000 4px, rgba(255, 255, 255, 0) 5px),
    radial-gradient(circle at 75% 75%, #000000 4px, rgba(255, 255, 255, 0) 5px);
}
.dice--5 {
  background: radial-gradient(
      circle at 25% 25%,
      #000000 4px,
      rgba(255, 255, 255, 0) 5px
    ),
    radial-gradient(circle at 25% 75%, #000000 4px, rgba(255, 255, 255, 0) 5px),
    radial-gradient(circle at 50% 50%, #000000 4px, rgba(255, 255, 255, 0) 5px),
    radial-gradient(circle at 75% 25%, #000000 4px, rgba(255, 255, 255, 0) 5px),
    radial-gradient(circle at 75% 75%, #000000 4px, rgba(255, 255, 255, 0) 5px);
}
.dice--6 {
  background: radial-gradient(
      circle at 25% 25%,
      #000000 4px,
      rgba(255, 255, 255, 0) 5px
    ),
    radial-gradient(circle at 25% 75%, #000000 4px, rgba(255, 255, 255, 0) 5px),
    radial-gradient(circle at 25% 50%, #000000 4px, rgba(255, 255, 255, 0) 5px),
    radial-gradient(circle at 75% 50%, #000000 4px, rgba(255, 255, 255, 0) 5px),
    radial-gradient(circle at 75% 25%, #000000 4px, rgba(255, 255, 255, 0) 5px),
    radial-gradient(circle at 75% 75%, #000000 4px, rgba(255, 255, 255, 0) 5px);
}
